html,body{
    height:100%;
    width:100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:cornflowerblue
}
#card{
    height:550px;
    width:300px;
    background-color:#fff;
    border:2px sold white;
    border-radius: 40px;
     padding: 20px;
     text-align: center;

}
#card img{
    height:60%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius:40px;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
}

#card h2{
   font-size: 25px;
   margin:10px 0;
   color:rgb(14, 101, 231);
}

#card button{
    background-color: rgb(141, 37, 232);
    color:white;
    font-weight: 700;
    padding:12px 20px;
    border:none;
}
#card #remove{
    background-color:#dadadada ;
    color:#111;
}

#card h1{
   color:red;
}